name: Deploy

on:
  push:
    branches:
      - master
  schedule:
    - cron: '10 22-24,0-4 * * *'

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: Cache dependencies Node
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Install
        run: npm i
        
      - name: Fetch API Data
        uses: JamesIves/fetch-api-data-action@1.0.15
        with:
          ENDPOINT: https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_Landkreisdaten/FeatureServer/0/query?outFields=*&returnGeometry=false&f=json&outSR=4326&where=GEN%20%3D%20%27COBURG%27%20OR%20GEN%20%3D%20%27SCHWEINFURT%27%20OR%20GEN%20%3D%20%27HA%C3%9FBERGE%27%20OR%20GEN%20%3D%20%27LICHTENFELS%27%20OR%20GEN%20%3D%20%27KRONACH%27%20OR%20GEN%20%3D%20%27SONNEBERG%27%20OR%20GEN%20%3D%20%27HILDBURGHAUSEN%27%20OR%20GEN%20%3D%20%27BAMBERG%27
          CONFIGURATION: '{ "method": "GET" }'

      - name: Build Svelte
        run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          
      - name: Artifact
        uses: actions/upload-artifact@v2
        with:
          name: json-artifact
          path: fetch-api-data-action/data.json
